<div class="container mt-4">
    <h3>Add New Bank</h3>
    <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label class="form-label">Bank Name</label>
        <input type="text" class="form-control" formControlName="bankName" placeholder="Enter Bank Name">
        <div class="text-danger" *ngIf="bankForm.get('bankName')?.invalid && bankForm.get('bankName')?.touched">
          Bank Name is required (Min 3 characters).
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">ISFC Code</label>
        <input type="text" class="form-control" formControlName="isfcCode" placeholder="Enter ISFC Code">
        <div class="text-danger" *ngIf="bankForm.get('isfcCode')?.invalid && bankForm.get('isfcCode')?.touched">
          Enter a valid ISFC code (Example: ABCD0123456).
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Branch</label>
        <input type="text" class="form-control" formControlName="branch" placeholder="Enter Branch Name">
        <div class="text-danger" *ngIf="bankForm.get('branch')?.invalid && bankForm.get('branch')?.touched">
          Branch is required.
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Bank Address</label>
        <input type="text" class="form-control" formControlName="bankAddress" placeholder="Enter Address">
        <div class="text-danger" *ngIf="bankForm.get('bankAddress')?.invalid && bankForm.get('bankAddress')?.touched">
          Address is required.
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
        <div class="text-danger" *ngIf="bankForm.get('city')?.invalid && bankForm.get('city')?.touched">
          City is required.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="isSubmitting || bankForm.invalid">
        {{ isSubmitting ? 'Submitting...' : 'Add Bank' }}
      </button>
    </form>
  </div>
  
